:root {
  --cor-paginacao: aliceblue;
  --cor-paginacao-hover: rgb(82, 223, 176);
}
html {
  background-color: #191e3a;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  color: white;
}

.title {
  text-align: center;
  margin-top: 40px;
  text-transform: uppercase;
}

.container {
  max-width: 1000px;
  margin: 10px auto;
  display: grid;
  /* dimensiona os cards d acordo com tela */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  padding: 0 20px;
}

.card {
  background-color: #ffc760;
  padding: 15px 15px 40px;
  border-radius: 10px;
}

#totalItens {
  color: #f7f7f7;
  font-size: 0.8em;
  margin-top: 60px;
}

.foto {
  width: 100%;
  height: 180px;
  margin: 10px 0 10px 0;
  object-fit: cover;
  background: #2a2525;
  border-radius: 100px;
}

.item {
  list-style: none;
  text-align: left;
  font-size: 1em;
  font-weight: 900;
  color: white;
  background-color: rgb(59, 9, 9);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.paginacao-container {
  margin: 20px auto 4px auto;
  max-width: 1000px;
  padding: 20px;
}

.ls-pagination-filter {
  color: var(--cor-paginacao);
}

.ls-pagination li a {
  color: var(--cor-paginacao);
}

.ls-pagination li a:hover {
  color: var(--cor-paginacao-hover);
}

.ls-pagination li a:focus {
  color: var(--cor-paginacao-hover);
}

.ls-custom-select:hover {
  cursor: pointer !important;
}
